@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Company</h1>
    <p>More about me <a href="https://github.com/QureiinPy" target="_blank">github</a>.</p>
</div>
